@model Blood.Models.Inventory

@{
    ViewData["Title"] = "Create";
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="qty" class="control-label"></label>
                <input asp-for="qty" class="form-control" />
                <span asp-validation-for="qty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mbd" class="control-label"></label>
                <input asp-for="mbd" class="form-control" />
                <span asp-validation-for="mbd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="blood_type" class="control-label"></label>
                <select class="select2" data-placeholder="Select a State" name="blood_type" style="width: 100%;" required>
                    @foreach (var blood_type in ViewBag.blood_type)
                    {
                        <option value="@blood_type.id">@blood_type.description</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label>Component</label>
                <select class="select2" multiple="multiple" data-placeholder="Select a State" name="component[]" style="width: 100%;">
                    @foreach (var component in ViewBag.component)
                    {
                        <option value="@component.id">@component.description</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="date_coltd" class="control-label"></label>
                <input type="date" name="date_coltd" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="date_released" class="control-label"></label>
                <input type="date" name="date_released" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="stakeholder" class="control-label"></label>
                <input asp-for="stakeholder" class="form-control" />
                <span asp-validation-for="stakeholder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="date_transfuse" class="control-label"></label>
                <input type="date" name="date_transfuse" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="key_test" class="control-label"></label>
                <input asp-for="key_test" class="form-control" />
                <span asp-validation-for="key_test" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="age" class="control-label"></label>
                <input name="age" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="expiry_date" class="control-label"></label>
                <input name="expiry_date" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <input asp-for="status" class="form-control" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="amount" class="control-label"></label>
                <input asp-for="amount" class="form-control" />
                <span asp-validation-for="amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

